
/* sofware DEVELOPMENT */
@media screen and ( max-width: 1250px){
    .sofware-development-1 {
        flex-direction: column;
       
    }
    .sofware-development-2-line{
        top: -70px;
        left: 160px;
        height: 450px;
    }
    .sofware-development-1-title{
        text-align: center;
    }
   
    .sofware-development-1-text {
        text-align: center;
        margin: 0;
    }

    .sofware-development-1-text div img{
        margin-top: -50px;
    }
    .sofware-development-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
   
    .sofware-development-2-mid{
        width: 330px;
        height: 330px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
        
    .sofware-development-1-square img{
        margin-top: 200px;
        width: 100px;
        left: 0;
    }
}
@media screen and ( max-width: 850px){
    .sofware-development-1-title{
        font-size: 66px;
        line-height: 80px;
    }
    .sofware-development-1-text{
        margin: 0;
        justify-content: center;
    }
    .sofware-development-1-text span{
        text-align: start;
    }
   
}

@media screen and ( max-width: 530px){
    .sofware-development-1-square{
        width: 80px;
    }
    .sofware-development-1-title{
        font-size: 46px;
        line-height: 50px;
    }
    
    .sofware-development-2-line{
        width: 1px;
        top: -30px;
        left: 180px;
        height: 420px;
    }

    .sofware-development-2-start-end{
        width: 300px;
        height: 300px;
    }

    .sofware-development-2-mid{
      width: 300px;
      height: 300px;
      margin-top: 50px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .sofware-development-2-text {
        font-size: 14px;
    }
}
@media screen and ( max-width: 440px){
    .sofware-development-2-line{
        width: 1px;
        top: -40px;
        left: 150px;
        height: 400px;
    }
    .sofware-development-1-square img{
        width: 50px;
    }
}

@media screen and ( max-width: 400px){
    .sofware-development-1-title{
        font-size: 40px;
        margin-bottom: -20px;
    }
    .sofware-development-1-text span{
        font-size: 15px;
        margin-left: 0px;
    }
    .sofware-development-2-start-end{
        width: 290px;
        height: 280px;
    }

    .sofware-development-2-mid{
      width: 280px;
      height: 280px;
      margin-top: 50px;
      margin-left: 100px;
      margin-right: 100px;
    }
}

@media screen and ( max-width: 376px){
    .sofware-development-2-line{
        width: 1px;
        top: -30px;
        left: 150px;
        height: 370px;
    }

}

@media screen and ( max-width: 310px){
    .sofware-development-1-title{
        font-size: 30px;
        line-height: 40px;
    }

    .sofware-development-2-start-end{
        width: 250px;
        height: 250px;
    }

    .sofware-development-2-mid{
        width: 250px;
        height: 250px;
    }

    .sofware-development-2-title{
        font-size: 14px;
    }
    .sofware-development-2-text{
        margin-top: -10px;
        font-size: 11px;
        width: 150px;
    }

    .sofware-development-2-line{
        width: 1px;
        top: -30px;
        left: 130px;
        height: 330px;
    }
} 
