* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    width: 100%;
    height: 100vh;
}

header {
    background-color: #F7F7F7;
}

header .header-background {
    position: relative;
    width: 100%;
}

header .background-header-picture {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.logo img {
    position: absolute;
    width: 237px;
    height: 62px;
    top: 76px;
    left: 106px;
    gap: 0px;
    opacity: 0px;
    z-index: 3;
}


/* Thuộc tính menu */

.main-menu {
    position: absolute;
    list-style-type: none;
    display: flex;
    width: 574px;
    height: 22px;
    top: 76px;
    left: 760px;
    display: flex;
    z-index: 3;
}

.main-menu li a {
    text-decoration: none;
    display: block;
    color: #FFFCFC;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Gilroy', sans-serif;
    margin-right: 30px;
    padding: 8px 10px;
    z-index: 3;
}


/* Icon menu */

.toggle {
    position: absolute;
    color: #FFFCFC;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    font-size: 40px;
    display: none;
    background-color: #037EE3;
    border-radius: 5px;
    z-index: 3;
}

.close {
    position: absolute;
    background-color: #037EE3;
    color: #FFFCFC;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}

.Solgan {
    position: absolute;
    color: #FFFCFC;
    top: 523px;
    left: 800px;
    width: 717px;
    height: 367px;
    top: 423px;
    left: 620px;
    z-index: 3;
}


/* follow */

.btn-follow button {
    position: absolute;
    height: 60px;
    width: 200px;
    top: 750px;
    right: 180px;
    color: #037EE3;
    padding: 12px 24px;
    border: none;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 15px;
    z-index: 3;
}


/* Icon  */

.icon {
    position: absolute;
    display: flex;
    right: 160px;
    top: 840px;
    right: 170px;
    z-index: 3;
    margin-right: 10px;
}

.icon-1 {
    margin-right: 15px;
}

.icon-2 {
    margin-right: 15px;
}


/* Line */

.Line-3 {
    position: absolute;
    top: 0;
    z-index: 3;
    left: 1350px;
}

.Line-4 {
    position: absolute;
    top: 470px;
    left: 0;
    z-index: 3;
}

.Square-empty {
    position: absolute;
    width: 227px;
    height: 227px;
    top: 195.31px;
    left: 508.64px;
    gap: 0px;
    border: 41px 0px 0px 0px;
    opacity: 0px;
    z-index: 3;
}

.Square {
    position: absolute;
    z-index: 3;
    width: 108px;
    height: 108px;
    top: 655px;
    left: 173px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
}

.Group-113 {
    position: absolute;
    width: 466px;
    height: 234px;
    top: 1155px;
    left: 106px;
    gap: 0px;
    opacity: 0px;
}

.background-header-picture-1 {
    position: absolute;
    width: 809px;
    height: 713px;
    top: 1186px;
    left: 631px;
    gap: 0px;
    opacity: 0px;
    z-index: 3;
}


/*  */

.Ellipse-1 {
    position: absolute;
    top: 892px;
    left: 631px;
    z-index: 3;
}

.Ellipse-2 {
    position: absolute;
    top: 1058px;
    left: 1058px;
    z-index: 3;
}

.who-are-we {
    position: absolute;
    width: 466px;
    height: 234px;
    top: 1155px;
    z-index: 3;
}

.who-are-we-1 {
    margin-left: 106px;
    color: #0061B0;
    font-size: 120px;
    font-weight: 700;
    font-family: 'Gilroy', sans-serif;
}

.who-are-we-2 {
    right: 100px;
    margin-left: 50px;
    color: #908B8B;
    font-family: 'Gilroy', sans-serif;
    font-size: 96px;
    font-weight: 400;
    margin-left: 230px;
    z-index: 3;
}


/* footer */

footer {
    position: relative;
    margin-top: 1000px;
    margin-bottom: 0;
    padding: 0;
}

.footer-bg img {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.footer-banner-img {
    position: relative;
}

.overlay {
    position: absolute;
    top: 360px;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.footer-banner-img img {
    position: absolute;
    top: 360px;
    height: 600px;
    width: 100%;
    z-index: 3;
    object-fit: cover;
}

.icon-footer-1 {
    position: absolute;
    left: -50px;
    bottom: -330px;
    width: 227px;
    height: 227px;
    z-index: 3;
}