@media screen and (max-width: 1025px) {
    .development-line{
        display: none;
    }
    .content-body {
        margin-left: 100px;
        margin-top: -1800px;
        display: flex;
        flex-direction: column;
    }

    .background-header-picture-1 {
        order: -1;
    }

    
    .who-are-we-1 {
        margin-top: 100px;
        margin-left: -100px;
    }

    .who-are-we-2 {
        text-align: center;
        margin-left: 100px;
    }

    .who-are-we-text {
        margin-top: 100px;
        margin-left: 200px;
    }

    .button-read-more {
        margin-left: 200px;
    }

    .content-list {
        display: flex;
        flex-direction: column;
    }

    .ideal {
        display: flex;
        flex-direction: row;
    }

    .strategy {
        display: flex;
        flex-direction: row;
    }

    .design {
        display: flex;
        flex-direction: row;
    }

    .development {
        display: flex;
        flex-direction: row;
    }

    .product {
        display: flex;
        flex-direction: row;
    }

    .content-list {
        height: 650px;
    }

    .ideal-img {
        order: -1;
        margin-left: 0px;
        margin-top: 65px;
    }
    
    .ideal-icon{
        margin-left: 40px;
    }
    .ideal-title-text {
        margin-left: 50px;
        width: 500px;
    }

    .strategy-img {
        order: -1;
        margin-left: 0px;
        margin-top: 65px;
    }
    .strategy-icon{
        margin-left: 40px;
    }

    .strategy-title-text {
        margin-left: 50px;
        width: 500px;
    }

    .design-img {
        order: -1;
        margin-left: 0px;
        margin-top: 65px;
    }
    .design-icon{
        margin-left: 40px;
    }
    .design-title-text {
        margin-left: 50px;
        width: 500px;
    }

    .development-img {
        order: -1;
        margin-left: 0px;
        margin-top: 65px;
    }
    .development-icon{
        margin-left: 40px;
    }
    .development-title-text {
        margin-left: 50px;
        width: 500px;
    }

    .product-img {
        order: -1;
        margin-left: 0px;
        margin-top: 65px;
    }
    .product-icon{
        margin-left: 40px;
    }
    .product-title-text {
        margin-left: 50px;
        width: 500px;
    }

    .line-text-ideal {
        top: 9px;
        height: 586px;
        left: 3px;
        width: 3px;
    }

}

@media screen and (max-width: 997px) {

    .background-header-picture-1 img {
        width: 600px;
        margin-top: 120px;
        margin-left: 150px;
    }

    .what-we-do-img {
        left: 330px;
    }


    .what-we-do-text {
        margin-top: 80px;
        margin-left: 230px;
        width: 600px;

    }

}

@media screen and (max-width:920px) {
    .background-header-picture-1 {
        margin-top: 40px;
        margin-left: -100px;
    }

    .what-we-do-text {
        width: 500px;
        margin-left: 230px;
    }

    .what-we-do-text {
        width: 450px;
    }

}

@media screen and (max-width:800px) {
    .background-header-picture-1 {
        margin-top: 30px;
        margin-left: -180px;
    }

    .content-body-container {
        margin-left: -100px;
    }

    .what-we-do-text {
        margin-left: 150px;
    }
}

@media screen and (max-width:720px) {
    .background-header-picture-1 img {
        width: 450px;
        margin-top: 150px;
        margin-left: 230px;
    }

    .who-are-we {
        margin-left: 120px;
    }

    .content-body-container {
        width: 500px;
    }

    .what-we-do-img {
        width: 400px;
        margin-top: 80px;
        margin-left: 160px;
    }
    .line-text-ideal {
        top: 9px;
        height: 686px;
        left: 4px;
        width: 3px;
    }
}

@media screen and (max-width:650px) {
    .background-header-picture-1 {
        margin-left: -250px;
    }

    .content-body-container {
        margin-left: -200px;
    }

    .who-are-we {
        margin-top: -10px;
        margin-left: 250px;
    }

    .who-are-we-1 {
        font-size: 90px;
        margin-bottom: -10px;
    }

    .who-are-we-2 {
        font-size: 76px;
    }

    .what-we-do-text {
        margin-left: 120px;

    }

    .what-we-do-img {
        margin-left: 150px;
    }
    .line-text-ideal {
        height: 786px;
    }
}

@media screen and (max-width:580px) {
    .background-header img {
        padding-bottom: 1300px;
    }

    .background-header-picture-1 {
        margin-top: 197px;
    }

    .who-are-we {
        margin-left: 180px;
    }

    .what-we-do-img {
        margin-top: -50px;
        margin-left: 100px;
    }

    .what-we-do-text {
        margin-left: 80px;
    }

    .content-list {
        width: 400px;
    }

    .ideal-img {
        margin-top: 65px;
    }

    .strategy-img {
        margin-top: 65px;
    }

    .design-img {
        margin-top: 65px;
    }

    .development-img {
        margin-top: 65px;
    }

    .product-img {
        margin-top: 65px;
    }
    .line-text-ideal {
        height: 785px;
    }
}

@media screen and (max-width:540px) {
    .background-header-picture-1 {
        width: 100px;
        margin-top: 250px;
        margin-left: -330px;
    }

    .content-body-container {
        margin-left: -230px;
    }

    .what-we-do-text {
        margin-left: 40px;
    }

    .content-list {
        height: 800px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 496px) {
    .background-header-picture-1 img{
        width:350px;
        margin-top: 150px;
        margin-left: 290px;
    }
    .who-are-we-text{
        width: 300px;
    }
    .who-are-we{
        margin-left: 150px;
    }
    .content-list{
        width: 300px;
    }
    .what-we-do{
        width: 300px;
    }
    .what-we-do-img img{
        width: 200px;
        margin-top: -100px;
        margin-left: -100px;
    }
    .what-we-do-text{
        margin-left: 100px;
        width: 300px;
    }
    .line-text-ideal{
        height: 1360px;
    }
}

@media screen and (max-width: 490px) {
    .what-we-do-img{
        width: 70px;
        margin-top: 70px;
        margin-left: 250px;
    }
    .what-we-do-text{
        margin-left:70px;
    }
    .what-we-do-text-0{
        font-size: 38px;
    }

    .content-list{
        width: 400px;
    }

    .ideal-img img{
        margin-top: 10px;
    }
    .ideal-icon{
        width: 70px;
    }
    .line-text-ideal{
        margin-top: 10px;
        height: 780px;
    }

    .strategy-img img{
        margin-top: 10px;
    }
    .strategy-icon{
        width: 70px;
    }
    .design-img img{
        margin-top: 10px;
    }
    .design-icon{
        width: 70px;
    }
    .development-img img{
        margin-top: 10px;
    }
    .development-icon{
        width: 70px;
    }
    .product-img img{
        margin-top: 10px;
    }
  
}

@media screen and (max-width:435px){
    .background-header-picture-1 img{
        margin-top: 200px;
        margin-left: 230px;
    }
    .who-are-we{
        margin-top: 10px;
    }
    .what-we-do-img img{
        margin-top: -200px;
        margin-left: 50%;
    }
    .who-are-we-1{
        font-size: 60px;
    }
    .who-are-we-2{
        font-size: 60px;
    }

    .who-are-we-text{
        margin-top: 50px;
        width: 230px;
    }

    .what-we-do-text{
        margin-left: 90px;
        width: 250px;
    }
    .what-we-do-img{
        margin-left:  60px;
    }
    .what-we-do-text-0{
        font-size: 38px;
    }
    
    .content-list{
        width: 350px;
    }
    .line-text-ideal{
        height: 1020px;
    }

    .ideal-title-text{
        margin-top: 50px;
    }
}


@media screen and (max-width:395px) {
    .background-header-picture-1 img{
        width:250px;
        margin-top: 200px;
        margin-left: 270px;
    }

    .logo img{
        margin-left: -20px;
    }

    .content-body-container{
        width: 350px;
    }
    .who-are-we{
        margin-left: 70px;
    }
    .who-are-we-1{
        margin-left: 40px;
    }
    .who-are-we-2{
        width: 250px;
    }
    .what-we-do{
        margin-top: -30px;
    }
    .what-we-do-img{
        margin-top: 200px;
        margin-left: 25%;
    }
    .what-we-do-text{
        margin-left: 70px;
    }

    .content-list{
        margin-left: 10px;
        width: 350px;
    }


    .ideal-img img{
        display: none;
    }
    .strategy-img img{
        display: none;
    }

    .design-img img {
        display: none;
    }
    .development-img img {
        display: none;
    }
    .product-img img {
        display: none;
    }
    .line-text-ideal{
        display: none;
    }
    
}

@media screen and (max-width:360px){
    .what-we-do-img{
        margin-top: 300px;
        margin-left: 0;
    }
    .what-we-do-text-0{
        font-size: 28px;
    }
    .what-we-do-text-1{
        font-size: 14px;
    }
    .what-we-do-text{
        margin-left: 40px;
    }

    .content-list{
        width: 200px;
    }
    .ideal-icon{
        width: 60px;
    }
    .ideal-title-text{
        width: 100px;
        font-size: 14px;
    }
    .strategy-icon{
        width: 60px;
    }
    .strategy-title-text{
        width: 100px;
        font-size: 14px;
    }
    .design-icon{
        width: 60px;
    }
    .design-title-text{
        width: 100px;
        font-size: 14px;
    }
    .development-icon{
        width: 60px;
    }
    .development-title-text{
        width: 100px;
        font-size: 14px;
    }
    .product-icon{
        width: 60px;
    }
    .product-title-text{
        width: 100px;
        font-size: 14px;
    }

}

@media screen and (max-width: 332px) {
    .background-header-picture-1 img{
        margin-left: 250px;
    }

    .logo img{
        width: 100px;
        margin-left: 10px;
    }

    .Solgan{
        top: 100px;
    }
    .btn-follow button{
        width: 90px;
        height: 30px;
        top: 200px;
    }
    .who-are-we-1{
        font-size: 40px;
    }
    .who-are-we-2
    {
        font-size: 40px;
    }
    .who-are-we-text{
        margin-left: 150px;
    }

    .icon{
        top: 240px;
    }

    .icon-item img {
        margin-right: 5px;
    }
}
@media screen and (max-width:285px) {
    .background-header-picture-1 img{
        width: 250px;
        margin-left: 220px;
    }
    .logo img{
        width: 100px;
    }

    .Solgan{
        top: 100px;
    }
    .btn-follow button{
        width: 90px;
        height: 20px;
        top: 160px;
        font-size: 6px;
    }
    .icon{
        top: 190px;
    }

    .content-body-container{
        width: 300px;
    }
    .what-we-do{
        width: 200px;
    }
    .who-are-we-1{
        width: 200px;
        margin-left: 60px;
        font-size: 40px;
    }
    .who-are-we-2{
        width: 200px;
        font-size: 40px;
        margin-left: 100px;
    }

    .who-are-we-text{
        font-size: 17px;
        margin-left: 150px;
        width: 200px;
    }
    .button-read-more{
        margin-left: 150px;
    }
    .what-we-do-img{
        margin-top: 280px;
        margin-left: 10px;
    }
    .what-we-do-text{
        width: 150px;
            margin-left: 70px;
    }
   
    .content-list{
        width: 260px;
        margin: 0;

    }
    .ideal{
        margin-top: 100px;
    }
    .ideal-icon {
        margin: 10px;
    }
    .ideal-title-text{
        margin: 0;
    } 

    .strategy-icon{
        margin: 10px;
    }
    .strategy-title-text{
        margin: 0;
    }

    .design-icon{
        margin: 10px;
    }
    .design-title-text{
        margin: 0;
    }

    .development-icon{
        margin: 10px;
    }
    .development-title-text{
        margin: 0;
    }

    .product-icon{
        margin: 10px;
    }
    .product-title-text{
        margin: 0;
    }


}

/* OUR SERVICES */  
@media screen and (max-width:1285px) {
    .container-our-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .our-services-banner-img{
        margin-top: 100px;
        order: -1;
    }
    .our-services-1{
        margin: 0;
    }
    .container-our-services-2{
        margin-top: 100px;
    }
    .our-services-2{
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    .our-services-2-icon{
        margin: 0;
    }

}

@media screen and (max-width:900px) {
        .our-services-banner-img img{
            width: 550px;
        }
        .our-services-1{
            width: 500px;
        }
        .our-services-1-our{
            font-size: 92px;
        }
        .our-services-1-services{
            font-size: 86px;
            margin-left: 40px;
        }
}

@media screen and (max-width:750px) {
    .our-services-banner-img img{
        margin-top: 100px;
        width: 450px;
    }

    .our-services-1{
        width: 400px;
    }
    .our-services-1-our{
        font-size: 72px;
    }
    .our-services-1-services{
        font-size: 66px;
        margin-left: 40px;
    }

}

@media screen and (max-width:650px) {
    .our-services-banner-img img{
        margin-top: 200px;
        width: 400px;
    }

    .our-services-1{
        margin-top: -100px;
        width: 300px;
    }
    .our-services-1-our{
        font-size: 62px;
    }
    .our-services-1-services{
        font-size: 56px;
        margin-left: 40px;
    }

}

@media screen and (max-width:550px) {
    .our-services-banner-img img{
        margin-left: -80px;
        margin-top: 150px;
        width: 300px;
    }
    .our-services-1{
        margin-left: -20px;
    }
    .our-services-1-our{
        font-size: 52px;
        line-height: 0;
    }
    .our-services-1-services{
        font-size: 46px;
        margin-left: 40px;
    }
}
@media screen and (max-width:493px) {
    .our-services-banner-img img{
        /* margin-left: -80px; */
        margin-top: 750px;
        /* width: 300px; */
    }

}

@media screen and (max-width:487px) {
    .our-services-banner-img img{
        /* margin-left: -80px; */
        margin-top: 100px;
        /* width: 300px; */
    }

    .container-our-services-2{
        margin-left: -50px;
    }
}

@media screen and (max-width:435px) {
    .our-services-banner-img img{
        margin-top: 400px;
    }

    .our-services-1-our{
        font-size: 42px;
        line-height: 0;
    }
    .our-services-1-services{
        font-size: 36px;
        margin-left: 40px;
    }
    .our-services-1{
        margin-top: -100px;
        width: 250px;
    }

    .our-services-1-text{
        font-size: 14px;
    }

    .our-services-2-text{
        font-size: 14px;
    }
} 

@media screen and (max-width:380px) {
    .our-services-banner-img img{
        width: 250px;
    }

    .our-services-1-our{
        font-size: 32px;
    }
    .our-services-1-services{
        font-size: 26px;
    }
    .our-services-1{
        margin-top: -100px;
        width: 200px;
    }

    .our-services-2-title{
        font-size: 16px;
    }

    .our-services-1-text{
        font-size: 12px;
    }

    .our-services-2-text{
        font-size: 14px;
    }
}
@media screen and (max-width:365px) {
    .what-we-do-img{
        margin-left: 60px;
    }

    .our-services-banner-img{
        margin-top: 800px;
    }
}

@media screen and (max-width:345px) {
    .our-services-2-icon{
        margin: 0;
    }
}

@media screen and (max-width:290px){
    .our-services-banner-img{
        margin-top: 350px;
    }

    .our-services-1{
        margin-left: -60px;
    }

    .what-we-do-img
    {
        margin-left: 20px;        
    }
}

/* APPLICATION DEVELOPMENT */

@media screen and ( max-width: 1250px){
    .application-development-1 {
        flex-direction: column;
       
    }
    .application-development-2-line{
        top: -70px;
        left: 160px;
        height: 450px;
    }
    .application-development-1-title{
        text-align: center;
    }
   
    .application-development-1-text {
        text-align: center;
        margin: 0;
    }

    .application-development-1-text div img{
        margin-top: -50px;
    }
    
    
    .application-development-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
   
    .application-development-2-mid{
        width: 330px;
        height: 330px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
        
    .application-development-1-square img{
        margin-top: 200px;
        width: 100px;
        left: 0;
    }
}
@media screen and ( max-width: 850px){
    .application-development-1-title{
        font-size: 66px;
        line-height: 80px;
    }
    .application-development-1-text{
        margin: 0;
        justify-content: center;
    }
    .application-development-1-text span{
        text-align: start;
    }
   
}

@media screen and ( max-width: 530px){
    .application-development-1-square{
        width: 80px;
    }
    .application-development-1-title{
        font-size: 46px;
        line-height: 50px;
    }
    
    .application-development-2-line{
        width: 1px;
        top: -30px;
        left: 180px;
        height: 420px;
    }

    .application-development-2-start-end{
        width: 300px;
        height: 300px;
    }

    .application-development-2-mid{
      width: 300px;
      height: 300px;
      margin-top: 50px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .application-development-2-text {
        font-size: 14px;
    }
}
@media screen and ( max-width: 440px){
    .application-development-2-line{
        width: 1px;
        top: -40px;
        left: 150px;
        height: 400px;
    }
    .application-development-1-square img{
        width: 50px;
    }
}

@media screen and ( max-width: 400px){
    .application-development-1-title{
        font-size: 40px;
        margin-bottom: -20px;
    }
    .application-development-1-text span{
        font-size: 15px;
        margin-left: 0px;
    }
    .application-development-2-start-end{
        width: 290px;
        height: 280px;
    }

    .application-development-2-mid{
      width: 280px;
      height: 280px;
      margin-top: 50px;
      margin-left: 100px;
      margin-right: 100px;
    }
}

@media screen and ( max-width: 376px){
    .application-development-2-line{
        width: 1px;
        top: -30px;
        left: 150px;
        height: 370px;
    }

}

@media screen and ( max-width: 310px){
    .application-development-1-title{
        font-size: 30px;
        line-height: 40px;
    }

    .application-development-2-start-end{
        width: 250px;
        height: 250px;
    }

    .application-development-2-mid{
        width: 250px;
        height: 250px;
    }

    .application-development-2-title{
        font-size: 14px;
    }
    .application-development-2-text{
        margin-top: -10px;
        font-size: 11px;
        width: 150px;
    }

    .application-development-2-line{
        width: 1px;
        top: -30px;
        left: 130px;
        height: 330px;
    }
} 

/* box-sumbit */
@media screen and ( max-width: 1200px){
    .list-submit{
        display: flex;
        flex-direction: column;

    }    
    .box-sumbit {
        width: 432px;
        height: 711px;
        margin-left: 30%;
    }
    .box-sumbit-text{
    font-size: 38px;
    width: 200px;
    text-align: center;
      }
    .input-text{
        margin-bottom: 20px;
    }
    .button-text{
        margin-top: 10px;
    }
}
@media screen and ( max-width: 768px){
    
}
@media screen and ( max-width: 540px){
    .box-sumbit{
        width: 332px;
        margin-left: 100px;
    }
}
@media screen and ( max-width: 440px){
    .box-sumbit{
        margin-left: 50px;
    }

}

@media screen and ( max-width: 390px){
    .box-sumbit{
        margin-left: 10px;
    }
}
@media screen and ( max-width: 391px){
    .box-sumbit{
        margin-left: 20px;
    }

}

@media screen and ( max-width: 350px){
    .box-sumbit{
        width: 290px;
        margin-left: 10px;
    }

}

@media screen and ( max-width: 290px){
    .box-sumbit{
        width:260px ;
        margin-left: 10px;
    }

}
